/* Generic Styles */
.img-large {
    border-radius: 10px;
    width: 80%;
}

.img-wrap {
    border-radius: 5px;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
}

@media (max-width: 767px) {
    .img-wrap {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .img-wrap {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .img-wrap-portrait {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .img-wrap-portrait {
        width: 25%;
    }
}

.text-center-vertical {
    display: flex;
    align-items: center;
}

.text-indent {
    text-indent: 40px;
    margin: 0;
    padding: 0;
}

.disable-scrollbars::-webkit-scrollbar {
    /* Chrome/Safari/Webkit */
    background: transparent;
    width: 0px;
}

.disable-scrollbars {
    /* Firefox */
    scrollbar-width: none;
    /* IE 10+ */
    -ms-overflow-style: none;
}

/* Specific styling */
main {
    /* Adjust for header */
    /* Fix 'view' into page */
    height: calc(100vh - 40px);
    width: 100vw;
    max-width: 1280px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#table-of-contents a {
    text-decoration: none;
    color: #6c757d;
}

#table-of-contents .active {
    color: var(--bs-dark);
}

.carousel-caption {
    background-color: #2125296c;
    width: calc(100vw - 24px);
    height: fit-content;
    margin: 0;
    margin-bottom: 4%;
    padding: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    left: 0;
    right: 0;
}
